html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

#root {
  height: 99%;
}

.App {
  font-family: 'Nanum Gothic', sans-serif;
  height: 97%;
  text-align: center;
  border: solid 13px #c0392b;
}

.App .stats-container-main{
  display: flex;
  flex-wrap: wrap;
  width: 65%;
  margin: 8% auto 0;
}

.App .seperator{
  background-color: gray;
  width: 2px;
  margin: 0 auto;
}

@media only screen and (max-width: 600px) {
  .App .stats-container-main{
    width: 100%;
  }  
}